<a href="https://colab.research.google.com/github/samieltx/test-colab/blob/main/Mysql%20with%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## **Installing MySQL Connector**

In [8]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 79.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [10]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566"
)

print(new_db)

TypeError: 'module' object is not callable

## **Creating DataBase**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566"
)

new_cursor = new_db.cursor()
new_cursor.execute("CREATE DATABASE newData")

## **Check if a database exists**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566"
)

new_cursor = new_db.cursor()
new_cursor.execute("SHOW DATABASES")

for n in new_cursor:
  print(n)

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

## **Creating Table and showing data**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE students(name VARCHAR(255), code VARCHAR(255))")

## **List all tables in newdata database**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("SHOW TABLES")

for x in new_cursor:
  print(x)

## **Add PRIMARY KEY when creating table**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE clients(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")