<a href="https://colab.research.google.com/github/samieltx/test-colab/blob/main/MySQL%20with%20Python.ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## **Installing MySQL Connector**

In [8]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 79.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [10]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566"
)

print(new_db)

TypeError: 'module' object is not callable

## **Creating DataBase**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566"
)

new_cursor = new_db.cursor()
new_cursor.execute("CREATE DATABASE newData")

## **Check if a database exists**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566"
)

new_cursor = new_db.cursor()
new_cursor.execute("SHOW DATABASES")

for n in new_cursor:
  print(n)

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

## **Creating Table and showing data**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE students(name VARCHAR(255), code VARCHAR(255))")

## **List all tables in newdata database**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("SHOW TABLES")

for x in new_cursor:
  print(x)

## **Add PRIMARY KEY when creating table**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE clients(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

## **Add PRIMARY KEY if already table exists**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("ALTER TABLE  students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

## **Inserting data into tables**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "INSERT INTO  students(name,code) VALUES(%s,%s)"
new_vals = ("Ronaldo","CODE12")

new_cursor.execute(new_sql,new_vals)

new_db.commit()

print(new_cursor.rowcount,"New row inserted")

## **Inserting many records into table**

In [1]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "INSERT INTO  students(name,code) VALUES(%s,%s)"
new_vals = [
            ("Messi","CODE30"),
            ("Pogba","CODE06"),
            ("SALAH","CODE11"),
             ("Someone","CODE110")
           ]

new_cursor.executemany(new_sql,new_vals)

new_db.commit()

print(new_cursor.rowcount,"New row inserted")

ModuleNotFoundError: No module named 'mysql'

## **Select Table's Data**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("Select * from students")
new_data = new_cursor.fetchall()

for x in new_data:
  print(x)

## **Select Data from columns**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("Select name,code from students")
new_data = new_cursor.fetchall()

for x in new_data:
  print(x)

## **Get de first record**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("Select * from students")
new_data = new_cursor.fetchone()

  print(new_data)

# **Filter the result**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("Select * from students where name='Ronaldo'")
new_data = new_cursor.fetchall()

for i in new_data:
  print(i)

## **Deleting records**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_sql = "DELETE FROM  students WHERE name='Messi'"

new_cursor.execute(new_sql)

#con parametros
#new_sql = "DELETE FROM  students WHERE name=%s"
#name = ()"Messi",)

#new_cursor.execute(new_sql,name)

new_db.commit()

print(new_cursor.rowcount," records deleted from newdata" )

## **Deleting Table**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_sql ="DROP TABLE IF EXISTS clients"

new_cursor.execute(new_sql)

## **Updating Table**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_sql ="UPDATE students SET code='CODE07' WHERE code='CODE12'"

new_cursor.execute(new_sql)

#evitar sql inyection
#new_sql ="UPDATE students SET code=%s WHERE code=%s"
#new_vals=("CODE06"","CODE12")
#new_cursor.execute(new_sql,new_vals)


new_db.commit()

print(new_cursor.rowcount, "records changed in students table!")

## **Limit records**

In [ ]:
import mysql.connector

new_db = mysql.connector.connection (
    host="localhost",
    user = "root",
    password = "78t78566",
    database = "newdata"
)

new_cursor = new_db.cursor()
new_cursor.execute("Select * from students LIMIT 4 OFFSET 5")
new_data = new_cursor.fetchall()

for i in new_data:
  print(i)